.feedback__input
	width:60%		
	margin-bottom:20px	
	font-family: inherit !important

	.input__control								
		color:#ffffff
		
	.input__box
		background-color: #212121
		border: 1px solid #7C7C7C
		border-radius: 4px
	    box-sizing: border-box

.feedback__input_valid	
	.input__control
		color: #000000
	.input__box
		background-color: #fbe122

.feedback__input_hidden
	display:none 
	