.feedback__textarea
	margin:-10px 0px 10px 0px	
	height:200px
	max-width:99%
	font-family: inherit !important

	.textarea__control		
		height:200px		
		color:#ffffff
		background: #212121 
	    border: 1px solid #7C7C7C
	    border-radius: 4px
	       
.feedback__textarea_valid
	.textarea__control
		background-color: #fbe122
		color: #000000