.feedback__answer
		display:none
		position: absolute
		top: 30%
		left: 30%
		width: 40%
		color: #212121
		text-align:center

	.feedback__text
		font-size:14px
		color:#212121
		margin-bottom:10px
		
		
    	