/*  Разобраться почему ломается главный _css
	@import url(http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic); 
*/

.feedback		
	position: relative
	width:500px
	text-align:left		
	opacity:1
	font-family: 'Open Sans', sans-serif !important
	color:#212121
	background:transparent
	border:1px solid #7C7C7C
	border-radius: 4px
	box-sizing: border-box
